<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="stripper" type="StripController.Configuration.ConfigurationSections.StripperConfigSection, StripController.Configuration"/>
    <section name="capturemode" type="StripController.Configuration.ConfigurationSections.CaptureModeConfigSection, StripController.Configuration"/>
    <section name="customcolor" type="StripController.Configuration.ConfigurationSections.CustomColorModeConfigSection, StripController.Configuration"/>
    <section name="program" type="StripController.Configuration.ConfigurationSections.ProgramModeConfigurationSection, StripController.Configuration"/>
  </configSections>
  <stripper Address="192.168.0.20" Port="50000" PixelCount="50"/>
  <capturemode Sensivity="1">
    <Gradient>
      <add Offset="0.0" R="255" G="0" B="0"/>
      <add Offset="0.7" R="128" G="128" B="0"/>
      <add Offset="1.0" R="0" G="0" B="127"/>
    </Gradient>
  </capturemode>
  <customcolor R="127" G="0" B="0" AutoApply="False"/>
  <program Interpolate="True">
    <Program>
    </Program>
  </program>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>